version: '3.8'

services:
  backend:
    build:
      context: ./back-end
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8082:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/courseupload?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 123123
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      JWT_SECRET: 6nR3j1s8Fv2xQ9kP5mL4wY7zU0aH2dCq
      JWT_EXPIRATION: 3600000
    depends_on:
      - db

  frontend:
    build:
      context: ./front-end
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "3000:80"
    environment:
      VITE_AUTH_API_URL: http://localhost:8080/api/auth
    depends_on:
      - backend

  db:
    image: mysql:8.1
    container_name: db
    environment:
      MYSQL_DATABASE: course_db
      MYSQL_ROOT_PASSWORD: password
    ports:
      - "3308:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
